<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lobby.css') }}">
</head>
<body>
    <p>Welcome {{ name }} </p>

    <p>Host: {{ player_host }}</p>

    <label>Game ID is will be created once you click GO!</label>
    <br>
    <form action="/game" method="POST">
        <label for="team1">Team 1</label>
        <input name = "team" id = "team1" type="radio" value="Team 1">
        <label for="team2">Team 2</label>
        <input name = "team" id = "team2" type="radio" value="Team 2">
        <br>
        <label for="role1">Hostage</label>
        <input name = "role" id= "role1" type="radio" value="Hostage">
        <label for="role2">Searcher</label>
        <input name = "role" id= "role2" type="radio"value="Searcher">
        <br>
        <button type = 'submit'>GO!</button>
    </form>
    <br>
    <label for="playerList">Players</label>
    <ul id="playerList" id="playerList">

    </ul>
    
    <script src="{{ url_for('static', filename='update_lobby.js')}}"></script>
</body>
</html>